body {
background:rgb(106, 32, 110);
background-repeat:no-repeat;
background-position: center;
background-size: 100%;
}

.jumbotron{
  background: rgbA(213, 141, 186, 0.5);
}

.jumbotron:hover{
  background: rgba(51, 53, 54, 0.5);
  color:rgba(170, 27, 42, 0.6);
  .btn:hover {
    color: rgb(43, 3, 22);
  }
}


.navbar {
  background-color: rgbA(255, 0, 122, 0.8);
.navbar-brand:hover{
  background-color: rgbA(231, 127, 230, 0.6);
.navbar-nav{
  background-color: rgbA(255, 0, 122, 0.6);
}
}
}

.table{
background-color: rgbA(77, 181, 247, 0.6);
}
